Business requirements 
---------------------
BR1. Необходимо предоставить наглядную модель дорожного движения для произвольной сети дорог и произвольного трафика ДД.

User requirements
-----------------
UR1. Пользователь может указать произвольную карту дорог.
UR2. Пользователь может задать правило формирования трафика ДД.
UR3. Пользователь может наблюдать дорожное движение с указанными выше характеристиками.

Functional requirements
-----------------------
FR1. Объектная модель состоит из объектов типа:
	- Car - автомобиль
	- Road - дорога
	- Location - локация автомобилей на дороге
FR2. Демонстрация модели состоит из последовательности локаций, связанных между собой последовательным изменением положения автомобилей на дорогах, 
	в соответствии с их движением (автомобилей). 		